# Multiple Linear Regression- Car dataset

## Importing the libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the dataset

In [3]:
ds=pd.read_csv('CAR.csv')

In [4]:
ds.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

### Split the dataset into independent and Dependent variables

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4337 non-null   int64
 1   selling_price  4337 non-null   int64
 2   km_driven      4337 non-null   int64
 3   fuel           4337 non-null   object
 4   seller_type    4337 non-null   object
 5   transmission   4337 non-null   object
 6   owner          4337 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.3+ KB

In [9]:
X=ds[['year', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner']]
y=ds[['selling_price']]

In [6]:
ds.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

### Work with the catagorical data

In [7]:
ds['fuel'].value_counts()

Diesel      2151
Petrol      2122
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64

In [11]:
ds['seller_type'].value_counts()

Individual          3242
Dealer               993
Trustmark Dealer     102
Name: seller_type, dtype: int64

In [12]:
ds['transmission'].value_counts()

Manual       3889
Automatic     448
Name: transmission, dtype: int64

In [13]:
ds['owner'].value_counts()

First Owner             2831
Second Owner            1104
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

In [15]:
X=pd.get_dummies(ds[['year', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner']],
                drop_first=True)

In [16]:
X.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,141000,1,0,0,0,1,0,1,0,1,0,0

## Splitting the dataset into the Training set and Test set
- Random State 20

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_rest, y_train, y_rest= train_test_split(X,y,
                                                  test_size=.2,
                                                  random_state=20)

In [20]:
X_test, X_val, y_test, y_val=train_test_split(X_rest,y_rest,
                                                  test_size=.5,
                                                  random_state=20)

## Training the Multiple Linear Regression model on the Training set

In [21]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train.values, y_train)

LinearRegression()

## Intercept and Coefficient

In [23]:
print('The coefficients are:', regressor.coef_)
print('The intercept is:', regressor.intercept_)

The coefficients are: [[ 3.62245575e+04 -8.31584195e-01  2.88702246e+05  1.89174898e-10
   4.65464254e+04  2.64057958e+03 -6.04980455e+04  1.71882689e+05
  -8.64323880e+05 -3.50851884e+03 -4.04890692e+04  1.83178786e+05
  -2.83903020e+04]]
The intercept is: [-71683645.58006911]

In [24]:
X_train.columns

Index(['year', 'km_driven', 'fuel_Diesel', 'fuel_Electric', 'fuel_LPG',
       'fuel_Petrol', 'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Manual', 'owner_Fourth & Above Owner',
       'owner_Second Owner', 'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

## Predicting the Test set results

## selling price= -71683645.58006911+ year(3.62245575e+04)+km_driven(-8.31584195e-01)+fuel_Diesel(2.88702246e+05)+fuel_Electric(1.89174898e-10)+fuel_LPG(4.65464254e+04)+fuel_Petro(2.64057958e+03)+seller_type_Individual(-6.04980455e+04)+'seller_type_Trustmark Dealer(1.71882689e+05)+transmission_Manual(-8.64323880e+05)+owner_Fourth & Above Owner(-3.50851884e+03)+owner_Second Owner(-4.04890692e+04)+owner_Test Drive Car(1.83178786e+05)+owner_Third Owner( -2.83903020e+04)

### Calculate RMSE, R-Square

In [28]:
y_pred=regressor.predict(X_test.values)

In [30]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f'The r-square is {r2_score(y_test, y_pred): .2f}')
print(f'The RMSE is {math.sqrt(mean_squared_error(y_test, y_pred)): .2f}')

The r-square is  0.54
The RMSE is  392646.28

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [34]:
y_predval=regressor.predict(X_val.values)

In [35]:
y_validate=y_val.to_numpy()

In [36]:
np.hstack((y_predval, y_validate))

array([[ 280943.85990559,  350000.        ],
       [ 821100.12192747,  780000.        ],
       [ 465915.677426  ,  434999.        ],
       [ 644135.25563619,  425000.        ],
       [ 425421.76671462,  280000.        ],
       [1317666.22883591,  850000.        ],
       [ 163472.75913742,  120000.        ],
       [ 357444.30497424,  250000.        ],
       [ 465344.37372941,  198000.        ],
       [ 182292.02908249,  120000.        ],
       [ 432081.00592296,  350000.        ],
       [ 464254.23321456,  125000.        ],
       [ 146019.33954768,  225000.        ],
       [ 236403.46050055,  300000.        ],
       [ 582333.88804127,  490000.        ],
       [1310281.53682841,  750000.        ],
       [ 163472.75913742,  175000.        ],
       [ 289259.70185719,  164000.        ],
       [ 601308.66958538,  525000.        ],
       [ 511497.22024338,  550000.        ],
       [ 302980.84107736,  229999.        ],
       [ 477192.70902458,  350000.        ],
       [ 402091.29519325,  270000.        ],
       [ 615703.8466617 ,  250000.        ],
       [ -25484.28362502,   75000.        ],
       [ 370908.92261469,  220000.        ],
       [ 510764.96755353,  550000.        ],
       [ 380528.08670911,  160000.        ],
       [  37857.77977452,   80000.        ],
       [1491394.03310956, 1750000.        ],
       [ 115149.43439887,  210000.        ],
       [   4452.74740078,   80000.        ],
       [ 288585.66400103,  450000.        ],
       [ 629335.4700429 ,  415000.        ],
       [ 487014.17302753,  700000.        ],
       [ 731957.70421498,  700000.        ],
       [ 112862.56255521,  160000.        ],
       [ 482856.25205173,  650000.        ],
       [ 500478.79066798,  349000.        ],
       [ 491172.09400333,  570000.        ],
       [1244410.70756339,  450000.        ],
       [1697897.76494119, 3800000.        ],
       [ 424586.89965786,  220000.        ],
       [1310955.57468459,  900000.        ],
       [ 419232.24735323,  350000.        ],
       [ 206417.81925081,   45000.        ],
       [1598680.40945019, 2750000.        ],
       [-369440.30675186,   85000.        ],
       [ 162651.0234509 ,  200999.        ],
       [ 637791.47279738,  400000.        ],
       [ 788510.7919772 ,  650000.        ],
       [-126389.44322377,  310000.        ],
       [ -87137.95338957,  120000.        ],
       [ 610498.87951219,  320000.        ],
       [ 449283.99352278,  239000.        ],
       [  68636.97588101,   80000.        ],
       [  91023.64423057,   70000.        ],
       [ 115149.43439887,  160000.        ],
       [-195811.62574983,   35000.        ],
       [1338864.29018639,  300000.        ],
       [ 563621.20891018,  347000.        ],
       [  -7194.73221762,   85000.        ],
       [ 285101.78088139,  170000.        ],
       [ 764759.9974512 , 1150000.        ],
       [ 542058.00042604,  173000.        ],
       [ 363414.81634961,  300000.        ],
       [ 543770.0896014 ,  930000.        ],
       [ 497517.60102099,  320000.        ],
       [ 649972.89501423,  409999.        ],
       [ 649354.06054625,  670000.        ],
       [1344685.37955253,  600000.        ],
       [1575396.05198568, 2750000.        ],
       [ 243415.98030935,  290000.        ],
       [ 727029.81794643,  585000.        ],
       [ 489201.75906938,  295000.        ],
       [ 417526.24776766,  160000.        ],
       [ 265027.3208749 ,   75000.        ],
       [ 731496.62964475, 1200000.        ],
       [ 296888.08073671,  630000.        ],
       [ 800984.55490462,  900000.        ],
       [ 425842.08971927,  619000.        ],
       [ 785707.14866921,  950000.        ],
       [ 397933.37421745,  250000.        ],
       [ 402091.29519325,  600000.        ],
       [ 748128.31354797,  819999.        ],
       [1604136.35168265,  675000.        ],
       [ 800984.55490462, 1900000.        ],
       [ 372985.84836262,  370000.        ],
       [ 458431.41966954,  625000.        ],
       [ 563621.20891018,  520000.        ],
       [ 235100.13835774,  350000.        ],
       [ 630196.9912691 ,  325000.        ],
       [ 114375.83079377,   75000.        ],
       [ 266414.87944584,  235000.        ],
       [ 433952.05505508,  180000.        ],
       [ 178192.56683928,  180000.        ],
       [  37857.77977452,   80000.        ],
       [ 464254.23321456,  130000.        ],
       [ 348403.46964145,  565000.        ],
       [ 760602.07647538,  640000.        ],
       [  78924.87694545,  150000.        ],
       [ 496214.2788782 ,  450000.        ],
       [ 740335.16506901,  525000.        ],
       [  62399.78385621,  125000.        ],
       [ 625458.32927094,  600000.        ],
       [ -70024.68303004,  100000.        ],
       [ 497150.72970845,  595000.        ],
       [ 396612.44142224,  320000.        ],
       [ 433277.73725179,  300000.        ],
       [ 294245.04910719,  200000.        ],
       [  92686.81262089,  233000.        ],
       [ 565568.22992313, 1000000.        ],
       [ 924189.33404496,  225000.        ],
       [  27945.29616819,   70000.        ],
       [ 124768.59849331,  350000.        ],
       [ 512119.24522135, 1025000.        ],
       [1281850.12785394,  450000.        ],
       [ 457028.53177778,  320000.        ],
       [ 473660.21568102,  409999.        ],
       [ 307597.38534598,   70000.        ],
       [  37857.77977452,   80000.        ],
       [ 525426.31652281,  300000.        ],
       [  37446.95711522,  550000.        ],
       [ 428029.67576113,  160000.        ],
       [ 669858.109275  ,  900000.        ],
       [ 544331.1786295 ,  260000.        ],
       [ -78340.52498166,   79000.        ],
       [ 525892.75358431,  350000.        ],
       [ 250958.21865584,  125000.        ],
       [ 280837.26909159,  300000.        ],
       [ 639612.1875267 ,  421000.        ],
       [1659644.89196377, 2675000.        ],
       [  21236.67675683,  190000.        ],
       [ 586743.55407913,  390000.        ],
       [-178698.35539031,   68000.        ],
       [ 456769.9754581 ,  225000.        ],
       [ 118110.62404586,  150000.        ],
       [  -6438.73926492,   95000.        ],
       [ 564612.06362319,  350000.        ],
       [1461732.87445445, 4000000.        ],
       [ 259274.06060745,  300000.        ],
       [ 242781.42667572,  275000.        ],
       [ -90920.87872307,   90000.        ],
       [ 519080.80950515,  810000.        ],
       [ 506977.10013005,  310000.        ],
       [ 241392.96567152,  330000.        ],
       [ 489201.75906938,  449000.        ],
       [ 459559.87942238,  396000.        ],
       [ 484016.31058945,  225000.        ],
       [ 325535.21483563,  525000.        ],
       [ 108136.91459008,  114999.        ],
       [ 417526.24776766,  300000.        ],
       [ 709043.8563754 ,  750000.        ],
       [1375187.43317294,  520000.        ],
       [ 472570.07516617,  250000.        ],
       [ 642415.83083467,  869999.        ],
       [ 574018.04608966,  640000.        ],
       [ 255996.33405076,  350000.        ],
       [ 507961.32424554,  430999.        ],
       [ 333800.10126224,  210000.        ],
       [ 683832.42701659,  490000.        ],
       [ 622822.95728448,  420000.        ],
       [ 260154.25502656,  350000.        ],
       [-207088.65734841,   85000.        ],
       [ 582333.88804127,  350000.        ],
       [ 487014.17302753,  434999.        ],
       [1453574.57884184, 1580000.        ],
       [ 650731.6727863 , 1300000.        ],
       [  54025.48317203,   80000.        ],
       [ 809300.39685623, 1400000.        ],
       [ 476203.57849044,  475000.        ],
       [  42700.31949203,   91200.        ],
       [ 461293.04356757,  350000.        ],
       [ 424586.89965786,  175000.        ],
       [ 521161.80473302,  600000.        ],
       [  18574.52932373,  190000.        ],
       [ 118866.61699857,  165000.        ],
       [ 571979.88205703,  400000.        ],
       [ 382858.26789056,  250000.        ],
       [ 659047.5147379 ,  500000.        ],
       [   6475.7620386 ,  100000.        ],
       [ 293575.169172  ,  235000.        ],
       [ 220968.50792615,  145000.        ],
       [ 483740.51595077,  725000.        ],
       [  90201.90854405,  254999.        ],
       [ 504143.52120556,  670000.        ],
       [ 399573.63106921,  390000.        ],
       [ 517110.4745712 ,  349000.        ],
       [ 819910.9565284 , 1150000.        ],
       [ -18471.76381622,  160000.        ],
       [  30226.55656461,  650000.        ],
       [ 212810.21231353,  175000.        ],
       [ 722871.89697063,  600000.        ],
       [ 242018.67325087,   89999.        ],
       [ 643612.5621635 ,  715000.        ],
       [ 501568.93118283,  620000.        ],
       [ 813410.48415014,   85000.        ],
       [ 674016.0302508 ,  509999.        ],
       [ 624486.1256748 ,  650000.        ],
       [ 764759.9974512 ,  680000.        ],
       [ 489201.75906938,  300000.        ],
       [ 866867.4918022 ,  750000.        ],
       [1411021.14605464,  525000.        ],
       [ 968399.45833625,  700000.        ],
       [ 376263.57491933,  350000.        ],
       [ 367851.11121161,  696000.        ],
       [ 549175.38686994,  890000.        ],
       [1491827.45181924, 1490000.        ],
       [1604136.35168265, 1400000.        ],
       [ 391805.11830771,  400000.        ],
       [ 448712.68982618,  312000.        ],
       [ 752443.78086276,  880000.        ],
       [  74326.21759354,  200000.        ],
       [ 568196.95672353,  530000.        ],
       [ 466224.56814849,  200000.        ],
       [ 402091.29519325,  350000.        ],
       [ 498291.20462611,  265000.        ],
       [-152092.96203132,  125000.        ],
       [ 538990.21996507,  300000.        ],
       [ 436229.07839012,  400000.        ],
       [1325230.46730673,  950000.        ],
       [ 356678.10930943,  475000.        ],
       [ 433384.32806577,  300000.        ],
       [1367387.17342234,  550000.        ],
       [1375187.43317294,  520000.        ],
       [ 764740.41635662,  840000.        ],
       [ 395481.45282722,  260000.        ],
       [ 607388.00471009,  400000.        ],
       [ 642415.83083467,  650000.        ],
       [ 489095.1682554 ,  340000.        ],
       [ 683056.8655836 ,  800000.        ],
       [ 568252.90257362,  550000.        ],
       [ 734613.78413431,  585000.        ],
       [1567911.79422922, 1200000.        ],
       [ 487171.71936652,  525000.        ],
       [ 574018.04608966,  350000.        ],
       [ 866867.4918022 ,  750000.        ],
       [ 227314.01494381,  100000.        ],
       [  53617.50484312,   60000.        ],
       [ 388362.34220444,  170000.        ],
       [ 533742.15847442,  250999.        ],
       [ 155638.5036421 ,  409999.        ],
       [ 473660.21568102,  400000.        ],
       [ 810963.56524655,  700000.        ],
       [ 655979.73427695,  610000.        ],
       [ 561650.87397623,  800000.        ],
       [ 639348.05037372,  350000.        ],
       [ 195279.83762372,  229999.        ],
       [ 618665.03630868, 1125000.        ],
       [ 683995.04059273,  600000.        ],
       [ 450789.61557411,  350000.        ],
       [ 528477.71091047,  425000.        ],
       [ 465344.37372941,  200000.        ],
       [ 662008.70438488,  550000.        ],
       [ 242642.37670423,  225000.        ],
       [ 514922.88852935,  500000.        ],
       [ 519080.80950515,  300000.        ],
       [1313036.56991246, 1350000.        ],
       [ 482856.25205173, 1200000.        ],
       [ 887543.08797449,  770000.        ],
       [ 349235.05383661,  600000.        ],
       [ 417526.24776766,  210000.        ],
       [1644209.93938938, 1050000.        ],
       [ 678640.3882881 ,  370000.        ],
       [ 428029.67576113,  195000.        ],
       [ 276679.34811579,  351000.        ],
       [1633241.79851329,  950000.        ],
       [ 465445.66365723,  509999.        ],
       [ 434157.93167087,  350000.        ],
       [ 386540.67074375,  220000.        ],
       [ 564668.32003437,  565000.        ],
       [ 118110.62404586,  300000.        ],
       [ 739812.47159636,  850000.        ],
       [ 654783.00294812,  890000.        ],
       [ 512845.96278141,  600000.        ],
       [ -33800.12557663,  250000.        ],
       [ 388108.33350724, 1030000.        ],
       [ 530233.63963734,  250000.        ],
       [ 651821.34333606, 1800000.        ],
       [ 489201.75906938,  550000.        ],
       [ 406362.62158608,  575000.        ],
       [ 678640.3882881 ,  750000.        ],
       [ 155392.20668332,  370000.        ],
       [  55280.67323343,  135000.        ],
       [ 218516.58653592,  110000.        ],
       [ 396792.8992998 ,  690000.        ],
       [ 405122.33791263,  530000.        ],
       [ 402091.29519325,  425000.        ],
       [ 312903.90556921,  250000.        ],
       [ 393775.45324165,  620000.        ],
       [ 419607.24299553,  290000.        ],
       [1377559.11129755,  350000.        ],
       [ 272319.12723148,  180000.        ],
       [ 464254.23321456,  225000.        ],
       [  80067.22269832,  160000.        ],
       [ 296272.22166599,  300000.        ],
       [ -51735.13162269,   60000.        ],
       [ 462066.64717269,  183000.        ],
       [ 146019.33954768,  225000.        ],
       [ 586116.81337477,  450000.        ],
       [ 435286.01843761,  530000.        ],
       [ 501568.93118283,  775000.        ],
       [ 655222.46853952,  585000.        ],
       [ 556658.50106658,  425000.        ],
       [ 650045.02534044,  650000.        ],
       [ 294332.82404578,   75000.        ],
       [ 730222.35134366, 1000000.        ],
       [ 115149.43439887,   99000.        ],
       [  53977.35109062,  114999.        ],
       [ 756444.15549958, 1250000.        ],
       [ 716061.67707035,  925000.        ],
       [ 417526.24776766,  150000.        ],
       [ 558689.68432926,  320000.        ],
       [  34384.47754042,  120000.        ],
       [ 325484.25931062,  275000.        ],
       [ 486101.24020372,  325000.        ],
       [ 260047.66421257,  240000.        ],
       [ 360405.49462123,  600000.        ],
       [ 726840.67140803, 1490000.        ],
       [ 711903.75609455,  800000.        ],
       [ 824680.92347184, 1490000.        ],
       [ 478698.33107592,  600000.        ],
       [ 273459.60214914,  290000.        ],
       [ -62256.17026855,  175000.        ],
       [1687918.75459924, 3899000.        ],
       [ 460927.8964339 ,  300000.        ],
       [-182962.86718009,   80000.        ],
       [ 870630.02650347, 1295000.        ],
       [ 145245.73594254,  350000.        ],
       [  43456.31244475,  110000.        ],
       [ 265508.9073312 ,  210000.        ],
       [ 268003.65991668,  155000.        ],
       [ 622822.95728448,  950000.        ],
       [ 442940.21068399,  550000.        ],
       [ 617468.30497985,  525000.        ],
       [ 287938.76906197,  100000.        ],
       [ 200178.90304713,  250000.        ],
       [ 466224.56814849,  275000.        ],
       [ 480885.91711777,  500000.        ],
       [1375187.43317294,  520000.        ],
       [ 147322.66169049,   80000.        ],
       [  21535.7189707 ,  120000.        ],
       [ 489143.77847934,  550000.        ],
       [ 292220.89150418,  500000.        ],
       [ 109794.78209426,  147000.        ],
       [ 609517.6101619 ,  450000.        ],
       [ 343000.20711288,  150000.        ],
       [ 354949.55238877,  440000.        ],
       [1479546.14029169, 2300000.        ],
       [ 657019.19921391,  744000.        ],
       [ 523238.73048095,  550000.        ],
       [ 733940.73726632,  825000.        ],
       [ 558689.68432926,  300000.        ],
       [ 657238.36445534,  470000.        ],
       [ -74048.80062243,   85000.        ],
       [ 529477.64668463,  550000.        ],
       [1442879.65617986,  735000.        ],
       [ 143058.14990069,  250000.        ],
       [ 398771.15642808,  470000.        ],
       [-120401.32119602,   51111.        ],
       [ 107589.58539999,  120000.        ],
       [ 600370.18401513,  550000.        ],
       [ 392098.89783221,  330000.        ],
       [ 108136.91459008,  150000.        ],
       [  56634.95090126,  125000.        ],
       [1775643.54169683, 2595000.        ],
       [ 216810.58695035,  225000.        ],
       [ 810624.37756412,  541000.        ],
       [ 581300.0039376 ,  385000.        ],
       [ 127729.78814028,  300000.        ],
       [ 240454.79066236,  250000.        ],
       [ 311813.76505436,  400000.        ],
       [1363137.77818505,  635000.        ],
       [ 723180.78769314,  500000.        ],
       [  29029.8252358 ,  300000.        ],
       [ 367947.73296772,  300000.        ],
       [ 158655.94970024,  110000.        ],
       [ 648703.3572623 ,  660000.        ],
       [ 341342.33960871,  250000.        ],
       [ 470382.4891243 ,  245000.        ],
       [1394963.70990418,  600000.        ],
       [ 727112.97636595,  675000.        ],
       [ 560454.14264739,  800000.        ],
       [ 365866.73773983,  850000.        ],
       [ 574839.78177619,  185000.        ],
       [ 434591.08782928,  320000.        ],
       [ 123465.27635048,  130000.        ],
       [1360163.16332217, 1200000.        ],
       [ 327565.25453849,  500000.        ],
       [ -87137.95338957,  100000.        ],
       [ 423765.16397135,  200000.        ],
       [ 469127.29906289,  215000.        ],
       [ 751145.75960611,  790000.        ],
       [ 226784.29640613,  180000.        ],
       [ 472022.74597606,  290000.        ],
       [ 752286.23452377,  800000.        ],
       [ 625850.38235298,  750000.        ],
       [ 699018.81758863,  465000.        ],
       [ 210462.73180258,  300000.        ],
       [ -13117.1115116 ,   90000.        ],
       [-315762.32970868,   42000.        ],
       [ 439306.70735972,  375000.        ],
       [ 397933.37421745,  300000.        ],
       [ 357550.89578822,  300000.        ],
       [ 370158.46209908,  350000.        ],
       [ 465344.37372941,  220000.        ],
       [ 450016.01196899,  400000.        ],
       [ 581608.8946601 ,  305000.        ],
       [ 246377.16995631,  250000.        ],
       [ 521161.80473302,  495000.        ],
       [ 434317.20218875,  250000.        ],
       [ 494132.53373811,  875000.        ],
       [ 337645.55480824,  270000.        ],
       [ 172270.18754531,  250000.        ],
       [ 243210.10369354,  300000.        ],
       [-118829.59422489,  155000.        ],
       [ 821100.12192747,  780000.        ],
       [ 305217.34790425,  240000.        ],
       [1697897.76494119, 3800000.        ],
       [ 398508.4368329 ,  150000.        ],
       [  63049.18599494,  130000.        ],
       [ 613260.04960123,  850000.        ],
       [ 275905.74451067,  250000.        ],
       [ 686097.52653746,  650000.        ],
       [ 448712.68982618,  200000.        ],
       [  31680.31377476,  175000.        ],
       [ 817773.78514683,  750000.        ],
       [ 525426.31652281,  390000.        ],
       [ 494449.82056004,  250999.        ],
       [ 605709.68692496,  240000.        ],
       [   6831.82811114,   78000.        ],
       [ 446525.10378431,  450000.        ],
       [ 172270.18754531,  180000.        ],
       [ 619446.28610103,  450000.        ]])

In [37]:
X_test.head(1)

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
2549,2018,26000,1,0,0,0,0,0,1,0,0,0,0

In [42]:
#My predicted result
regressor.predict([[2014,70000,1,0,0,0,0,0,1,0,0,0,0]])

array([[638780.60333155]])